.container {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 15px;
    z-index: 2;
    background: #ab88ea;
}

.place-items-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.btn {
    background: #4faae2;
}
