$white: #FFFFFF;
$baclk: #000000;
$grey: #7C7C7C;

$navy: #010001;
$Aquamarine: #75FFCD;
$Diamond: #FFDDBC;

// ---linear-gradient-colors
$process-wall-bg: linear-gradient(180deg, #1E1E1E 25.91%, #000000 80.15%);$num-circle-bg: linear-gradient(83.74deg, #8EF0E3 -25.95%, #3D6DFD 128.43%);
$faqs-accordian-bg: linear-gradient(89.95deg, #181818 0.06%, #000000 105%);
$contact-card-bg: linear-gradient(180deg, #171717 0%, #000000 100%);