@import "_variables";
@import "components/navbar";
@import "components/footer";
@import "components/landing";
@import "components/services";
@import "components/skill";
@import "components/process";
@import "components/works";
@import "components/web-success";
@import "components/FAQs";
@import "./typology";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    color: #ffffff;
}

/*---Side Scroll Bar ---*/
::-webkit-scrollbar {
    width: 1.2vmin;
}
::-webkit-scrollbar-track {
    background: #010101;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #2876fc00 0%, #258d67 100%);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: #020610;
}

body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

.App {
    @extend .place-items-center;
    width: 100%;
    height: auto;
    background: $navy;
}
